@import "tailwindcss";

@layer components {
  .btn {
    @apply inline-flex justify-center items-center gap-1 px-3 py-2 rounded-md font-medium tracking-tight cursor-pointer text-sm;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/20 px-3 py-1 rounded-lg tracking-tight w-fit;
  }

  .section-title {
    @apply capitalize text-4xl sm:text-7xl xl:max-w-[50%] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }

  .section-desc {
    @apply capitalize text-lg sm:text-[22px] leading-[30px] tracking-tight text-[#010D3E] xl:max-w-[50%];
  }

  .card {
    @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }

  .icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.472);
    background-color: transparent;
    padding: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .icons::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: #001e8023;
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    transition: width 0.4s ease, height 0.4s ease;
    z-index: 0;
  }

  .icons:hover::after {
    width: 100%;
    height: 100%;
  }
}
